<!DOCTYPE html>
<html>
  <head>
    <title>Juice Box</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Abel" rel="stylesheet">
    <%= stylesheet_link_tag 'application', type: 'text/css', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'app-bundle' %>
  </body>
</html>
